[Desktop Entry]
Name=ChatGPT
Comment=ChatGPT by OpenAI
GenericName=AI assistant
Exec=chatgpt-launch %U
Icon=chatgpt
Type=Application
StartupNotify=false
Categories=Utility;Development;
MimeType=x-scheme-handler/codex;x-scheme-handler/http;x-scheme-handler/https;text/csv;application/vnd.openxmlformats-officedocument.wordprocessingml.document;application/vnd.openxmlformats-officedocument.presentationml.presentation;text/tab-separated-values;application/vnd.ms-excel;application/vnd.ms-excel.sheet.macroEnabled.12;application/vnd.openxmlformats-officedocument.spreadsheetml.sheet;
