"*":
  autosave:
    enabled: true
  core:
    autoHideMenuBar: true
    openEmptyEditorOnStart: false
    themes: [
      "outlander-ui"
      "atom-material-syntax-dark"
    ]
  editor:
    fontFamily: "DejaVu Sans Mono"
    fontSize: 16
    invisibles: {}
    tabLength: 4
  linter:
    showErrorPanel: false
  minimap:
    absoluteMode: true
  tabs:
    usePreviewTabs: true
  "tree-view":
    hideVcsIgnoredFiles: true
  welcome:
    showOnStartup: false
