"*":
  "atom-beautify":
    general:
      _analyticsUserId: "de88cca1-62c6-411a-b1c7-54b0f72f39f7"
  "atom-material-ui":
    colors:
      abaseColor: "#2679db"
      accentColor: "#f59625"
      genAccent: true
      predefinedColor: "Blue Grey"
    fonts: {}
  autosave:
    enabled: true
  "base16-syntax":
    scheme: "Ocean"
  core:
    autoHideMenuBar: true
    closeDeletedFileTabs: true
    disabledPackages: [
      "whitespace"
    ]
    openEmptyEditorOnStart: false
    telemetryConsent: "limited"
    themes: [
      "atom-material-ui"
      "base16-ocean-dark-spacegray"
    ]
  editor:
    fontFamily: "Hack"
    fontSize: 16
    invisibles: {}
    softWrap: true
    tabLength: 4
  "exception-reporting":
    userId: "c9c9df71-2011-aac7-d454-6313fe94f6d9"
  "git-plus":
    general:
      _analyticsUserId: "b0b8fef0-e9f3-4ad9-b6b1-7af19d95e9f9"
  linter: {}
  "linter-ui-default": {}
  "linter-write-good":
    severityLevel: "Warning"
  minimap:
    absoluteMode: true
    adjustAbsoluteModeHeight: true
  tabs:
    usePreviewTabs: true
  "tree-view":
    hideVcsIgnoredFiles: true
  welcome:
    showOnStartup: false
