"*":
  welcome:
    showOnStartup: false
  core:
    openEmptyEditorOnStart: false
    themes: [
      "outlander-ui"
      "solarflare-syntax"
    ]
  editor:
    fontFamily: "DejaVu Sans Mono"
    fontSize: 16
    invisibles: {}
  minimap:
    absoluteMode: true
  "tree-view":
    hideVcsIgnoredFiles: true
  "atom-beautify":
    language_python_beautify_on_save: true
  tabs:
    usePreviewTabs: true
