[Unit]
Description=Sync gopass password store after login and periodically

[Timer]
OnStartupSec=2min
OnUnitActiveSec=6h
Persistent=true
Unit=gopass-sync.service

[Install]
WantedBy=timers.target
