[Unit]
Description=Sync gopass password store
ConditionPathIsDirectory=%h/.secrets/.git

[Service]
Type=oneshot
Environment=GIT_TERMINAL_PROMPT=0
ExecStart=/usr/bin/gopass --yes sync
TimeoutStartSec=2min
